<div id="favorite_form">
  <% if questionnaire.favored_users.include?(current_user) %>
    <%= form_for(questionnaire.favorites.find_by(user_id: current_user.id), html: { method: :delete }, remote: false) do |f| %>
      <%= f.submit "お気に入りを解除", class: "btn btn-large" %>
    <% end %>
<% else  %>
    <%= form_for(current_user.favorites.build(questionnaire_id: questionnaire.id), remote: false) do |f| %>
    <%= f.hidden_field :questionnaire_id, :value => questionnaire.id %>
      <%= f.submit "お気に入りに追加", class: "btn btn-large btn-primary" %>
    <% end %>
  <% end %>
</div>
