<p id="notice"><%= notice %></p>

<%= form_for(questionnaire) do |f| %>
    <% if questionnaire.errors.any? %>
        <div id="error_explanation">
            <h2><%= questionnaire.errors.count %>件のエラーがあります。</h2>
            <ul>
                <% questionnaire.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= f.label :アンケートの内容 %>
    <%= f.text_field :body %>
    <p>
      <%= f.label :画像投稿 %>
      <label><input type="radio" name="qimageToggle" id="qimageToggle1" value="" checked="checked" />文章のみ</label>
      <label><input type="radio" name="qimageToggle" id="qimageToggle2" value="" />画像を設定</label>
      <div id='questionnaire-image-selection' style='display: none;'>
        <%= f.file_field :qimage %>
        <%= f.hidden_field :qimage_cache %>
      </div>
    </p>
    <p>
      <%= f.label :回答期限 %>
      <label><input type="radio" name="deadlineToggle" id="deadlineToggle1" value="" checked="checked" />回答期限を設けない</label>
      <label><input type="radio" name="deadlineToggle" id="deadlineToggle2" value="" />回答期限を設定</label>
      <div id='deadline' style='display: none;'>
        <%= f.text_field :date_by, class: 'form-control datetimepicker' %>
      </div>
    </p>
    <br>
    <%= f.hidden_field :user_id,  :value => current_user.id %>

    <div class='options'>
      <h3>選択肢の作成</h3>
        <label><input type="radio" name="optionSelectMakeToggle" id="optionSelectMakeToggle1" value="" checked="checked" />規定の選択肢から選ぶ</label>
        <label><input type="radio" name="optionSelectMakeToggle" id="optionSelectMakeToggle2" value="" />選択肢を作成する</label>
        <div class='select-options'>
          <p>
            <label><input type="radio" name="optionSelectToggle" id="optionSelectToggle1" value="" checked="checked" />
              <p><%= f.label :選択肢A %> はい</p>
              <p><%= f.label :選択肢B %> いいえ</p>
            </label>
          </p>
          <p>
            <label><input type="radio" name="optionSelectToggle" id="optionSelectToggle2" value="" />
              <p><%= f.label :選択肢A %> 行く</p>
              <p><%= f.label :選択肢B %> 行かない</p>
            </label>
          </p>
          <p>
            <label><input type="radio" name="optionSelectToggle" id="optionSelectToggle3" value="" />
              <p><%= f.label :選択肢A %> 好き</p>
              <p><%= f.label :選択肢B %> 嫌い</p>
            </label>
          </p>
        </div>
        <div class='make-options' style='display: none;'>
          <p>
            <%= f.label :選択肢A %>
            <%= f.text_field :optiona_body, class: 'form-control' %>
          </p>
          <p>
            <%= f.file_field :optiona_image %>
            <%= f.hidden_field :optiona_image_cache %>
          </p>
          <p>
            <%= f.label :選択肢B %>
            <%= f.text_field :optionb_body, class: 'form-control' %>
          </p>
          <p>
            <%= f.file_field :optionb_image %>
            <%= f.hidden_field :optionb_image_cache %>
          </p>
        </div>

    </div>
    <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>

<%= link_to "ブログ一覧画面に戻る", questionnaires_path %>
