<p id="notice"><%= notice %></p>

<%= form_for(questionnaire) do |f| %>
    <% if questionnaire.errors.any? %>
        <div id="error_explanation">
            <h2><%= questionnaire.errors.count %>件のエラーがあります。</h2>
            <ul>
                <% questionnaire.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= f.label :アンケートの内容 %>
    <br>
    <p>
      <%= f.text_field :body, class: 'form-control new-questionnaire-body', placeholder: '質問文を入力してください。' %>
    </p>
    <hr>
    <p>
      <%= f.label :画像投稿 %>
      <br>
      <label><input type="radio" name="qimageToggle" id="qimageToggle1" value="" checked="checked" /> なし</label>
      <label><input type="radio" name="qimageToggle" id="qimageToggle2" value="" /> アップロード</label>
      <div id='questionnaire-image-selection' style='display: none;'>
        <%= f.file_field :qimage %>
        <%= f.hidden_field :qimage_cache %>
      </div>
    </p>
    <hr>
    <p>
      <%= f.label :回答期限 %>
      <br>
      <label><input type="radio" name="deadlineToggle" id="deadlineToggle1" value="" checked="checked" /> なし</label>
      <label><input type="radio" name="deadlineToggle" id="deadlineToggle2" value="" /> 設定</label>
      <div id='deadline' style='display: none;'>
        <%= f.text_field :date_by, class: 'form-control datetimepicker' %>
      </div>
    </p>
    <%= f.hidden_field :user_id,  :value => current_user.id %>
    <hr>

    <div class='options'>
      <h3>選択肢の作成</h3>
        <label><input type="radio" name="optionSelectMakeToggle" id="optionSelectMakeToggle1" value="" checked="checked" /> 規定の選択肢から選ぶ</label>
        <label><input type="radio" name="optionSelectMakeToggle" id="optionSelectMakeToggle2" value="" /> オリジナルの選択肢を作成する</label>
        <div class='select-options'>
        <p>
          <label><input type="radio" name="optionSelectToggle" id="optionSelectToggle1" value="" checked="checked" />
            <div class='option-a container-child col-md-6 col-sm-12'>
              <%= f.label :A %> ：はい
            </div>
            <div class='option-b container-child col-md-6 col-sm-12'>
              <%= f.label :B %> ：いいえ
            </div>
          </label>
        </p>
        <p>
          <label><input type="radio" name="optionSelectToggle" id="optionSelectToggle2" value="" />
            <div class='option-a container-child col-md-6 col-sm-12'>
              <%= f.label :A %> ：行く
            </div>
            <div class='option-b container-child col-md-6 col-sm-12'>
              <%= f.label :B %> ：行かない
            </div>
          </label>
        </p>
        <p>
          <label><input type="radio" name="optionSelectToggle" id="optionSelectToggle3" value="" />
            <div class='option-a container-child col-md-6 col-sm-12'>
              <%= f.label :A %> ：好き
            </div>
            <div class='option-b container-child col-md-6 col-sm-12'>
              <%= f.label :B %> ：嫌い
            </div>
          </label>
        </p>
        </div>
        <div class='make-options' style='display: none;'>
          <div class='option-a container-child col-md-6 col-sm-12'>
            <%= f.label :A %>
            <p>
              <%= f.text_field :optiona_body, class: 'form-control', placeholder: '選択肢Aを入力してください' %>
            </p>
            <p>
              <%= f.file_field :optiona_image %>
              <%= f.hidden_field :optiona_image_cache %>
            </p>
          </div>
          <div class='option-b container-child col-md-6 col-sm-12'>
          <p>
            <%= f.label :B %>
            <%= f.text_field :optionb_body, class: 'form-control', placeholder: '選択肢Bを入力してください' %>
          </p>
          <p>
            <%= f.file_field :optionb_image %>
            <%= f.hidden_field :optionb_image_cache %>
          </p>
        </div>
      </div>
    </div>
    <input type='button' value='投稿' class='btn btn-primary btn-block' id='new-questionnaire-commit'>
    <!--
      <input type='submit' name='commit' value='投稿' class='btn btn-primary btn-block' id='new-questionnaire-commit' data-disable-with='投稿'>
    -->
<% end %>
