<!DOCTYPE html>
<html>
  <head>
    <title>Questionnaire_SNS</title>
    <%= csrf_meta_tags %>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script src="https://use.fontawesome.com/4e9a8af73e.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if user_signed_in? %>
      <script>
        var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>',{
          encrypted: true,
          cluster: 'ap1'
        });

        var channel = pusher.subscribe('user_<%= current_user.id %>_channel');
        channel.bind('notification_created', function(data) {
          $('#unread_flag').html(data.unread_flag);
        });
        channel.bind('comment_created', function(data) {
          alert(data.message);
        });
        channel.bind('answered_created', function(data) {
          alert(data.message);
        });
        channel.bind('favorite_created', function(data) {
          alert(data.message);
        });
      </script>
    <% end %>

  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to questionnaires_path, class: 'navbar-brand' do %>
          Questionnaire SNS
        <% end %>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item active">
            <%= link_to questionnaires_path, class: 'nav-link' do %>
              <i class="fa fa-quora" aria-hidden="true"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path, class: 'nav-link' do %>
              <i class="fa fa-user-circle" aria-hidden="true"></i>
            <% end %>
          </li>
          <li class="nav-item">
              <%= link_to notifications_path, class: 'nav-link' do %>
                <i class="fa fa-bell fa-1x"><span id="unread_flag" class='btn'><%= notification_count(current_user) %></span></i>
              <% end %>
          </li>
          <li class="nav-item">
            <%= link_to user_path(current_user), class: 'nav-link' do %>
              <i class="fa fa-address-card" aria-hidden="true"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
